@import '~reset-css';
html,
body {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.screen-container,
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


@mixin screen($color, $numberOfFlames : 20) {
  background: radial-gradient(ellipse at 50% 70%, transparent 0%, $color 70%);
  background-size: 5% 100%;
}

$flameColors : #ff8700, #ff3f00, #ae6c09, #00fc00;
$color : nth($flameColors, 1);
.screen {
  @include screen($color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  
  font-family: sans-serif;
}

.container--behind {
  z-index: 1;
}

.inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
h1 {
  white-space: nowrap;
  font-weight: bold;
  font-size: 34vw;
  line-height: 2;
  color: blue;
  display: inline-block;
  animation: marquee 10s infinite linear;
}

@keyframes marquee {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}