<!doctype html>
<html>
  <head></head>
  <body>
    <div class="screen-container">
      <div class="screen"></div>
    </div>
    <div class="container container--behind">
      <div class="inner">
        <h1>OPEN FLAME</h1>
      </div>
    </div>
  </body>
</html>