$red: #BA4848;
$orange: #EF9124;
$yellowGreen: #d0b443;
//cool hues
$cobaltBlue: #064bd3;
$powderBlue: #74b6d0;
$seaGreen: #17a576;

//Light saturations
//warm hues
$palePink: #e5cad1;
$palePeach: #e29f8f; //might need to be refined
//cool hues
$paleSeafoam: #a5c69c;
$paleSlate: #8493b1;
$paleViolet: #c9c7ed;

body.boxed-text {

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  p {
    border-style: solid;
    border-width: 3px 2px;
    border-color: #333;

    padding: 5px 10px;

    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;

    flex: 1 1 auto;
    order: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p.intro {
    font-size: 21px;
    font-weight: 700;

    padding: 5px 25px;

    flex: 2 1 auto;
    order: 1;

  }
  p.link {
    order: 3;
  }

  a,
  a:link,
  a:visited {
    font-weight: 700;
    text-decoration: underline;
    color: black;
  }

  $colors: $palePeach, $paleSeafoam, $palePink, $paleViolet, $powderBlue, $orange;
  @for $n from 1 through 6 {
    p:nth-of-type(#{$n}):hover {
      background-color: nth($colors, $n);
    }
  }
}