{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
  </head>
  <body>
    <div class="faces">

      <div id="left" class="face face--left">
      </div>
      <div id="right-top" class="face face--right-top"></div>
      <div id="right-bottom" class="face face--right-bottom"></div>
    </div>
    <main>
      <h1>
        <img src="open-flame-logo-white.png" alt="OPEN FLAME" />
      </h1>
      {{!-- <h3>A Queer Comedy Happening</h3> --}}
      <p>Sam Campbell, Simone Leitner, and Peter Valenti host OPEN FLAME, the hot queer happening where a comedy open mic meets an LGBTQ+ social. See over 20 queer voices practice new material and experiment alongside some of New York City’s funniest folx! Everyone gets four minutes of stage time, free admission, every other Monday at Mood Ring in Brooklyn</p>
      <p>
        <a href="//instagram.com/openflamenyc">@openflamenyc</a>
      </p>
    </main>
  </body>
</html>