{{var "data" htmlWebpackPlugin.options.data}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
  </head>
  <body>
    {{> text-content position='top'}}
    <div class="faces">
      <div id="left" class="face face--left">
      </div>
      <div id="right-top" class="face face--right-top"></div>
      <div id="right-bottom" class="face face--right-bottom"></div>
    </div>
    {{> text-content position='bottom'}}
  </body>
</html>