<main class="{{position}}">
  <header>
    <h1>
      <img src="open-flame-logo-{{position}}.png" alt="OPEN FLAME" />
    </h1>
  </header>
  <h3>the hot queer happening where a comedy open mic meets an LGBTQ+ social</h3>
  <p class="description-item">Hosted by Sam Campbell, Simone Leitner, and Peter Valenti</p>
  <p class="description-item">Every other Monday <br/>at <a href="#">Mood Ring in Brooklyn</a></p>
  <p class="description-item">Free admission, no drink minimum</p>
  <footer>
    <p>
      <a href="//instagram.com/openflamenyc">@openflamenyc</a>
    </p>
  </footer>
</main>