<main class="{{position}}">
  <h1>
    <img src="open-flame-logo-{{position}}.png" alt="OPEN FLAME" />
  </h1>
  <h3>the hot queer happening where a comedy open mic meets an LGBTQ+ social</h3>
  <p class="description-item">See over 20 queer voices practice new material and experiment alongside some of New York City’s funniest folx!</p>
  <p class="description-item">Hosted by Sam Campbell, Simone Leitner, and Peter Valenti</p>
  <p class="description-item">Free admission, no drink minimum</p>
  <p class="description-item">Every other Monday</p>
  <p class="description-item">Mood Ring, Brooklyn</p>
  <p class="description-item">
    <a href="//instagram.com/openflamenyc">@openflamenyc</a>
  </p>
</main>