<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
      @font-face {
        font-family: 'Sometype Mono';
        src: url('../fonts/SometypeMono-Regular.woff2') format('woff2');
      }
    </style>
  </head>
  <body class="">
    {{> grid}}
    {{> text}}
  </body>
</html>