<div class="grid">
  {{> row}}
  {{> row}}
</div>
<main>
  <section>
    <h1>Open Flame</h1>
    <p class="dek">
      A queer comedy happening
    </p>
  </section>
  <section>
    <p>every other Monday at Moodring</p>
  </section>
  <section>
    <p>Hosted by Sam Campbell, Simone Leitner, and Peter Valenti</p>
  </section>
  <section>
    <p>@openflamenyc</p>
  </section>
</main>