<div class="grid">
  {{> row-inline-svgs}}
  {{> row-inline-svgs}}
</div>
<main>
  <section class="description">
    <p><span>Sam Campbell, Simone Leitner, and Peter Valenti host</span></p>
    <div class="logo"></div>
    <p><span>the hot queer happening where a comedy open mic meets an LGBTQ+ social.</span></p>
    <p><span>20+ queer voices</span></p>
    <p><span>alongside some of New York City’s funniest folx</span></p>
    <p><span>free admission</span></p>
    <p><span>other Monday at Mood Ring in Brooklyn.</span></p>
  </section>
  <section class="footer">
    <p><a href="https://instagram.com/openflamenyc">@openflamenyc</a></p>
  </section>
</main>