<div class="grid">
  {{> row}}
  {{> row}}
</div>
<main>
  <section>
    <h1>
      <img src="open-flame-logo.png" alt="Open Flame"/>
    </h1>
  </section>
  <section>
    <p class="dek">
      A queer comedy happening
    </p>
  </section>
  <section>
    <p>every other Monday at <a href="http://moodringnyc.com/">Mood Ring</a></p>
  </section>
  <section>
    <p>hosted by Sam Campbell, Simone Leitner, and Peter Valenti</p>
  </section>
  <section>
    <p><a href="https://instagram.com/openflamenyc">@openflamenyc</a></p>
  </section>
</main>