<div class="row">
  <div class="cell cell--o">
    <div class="letter">
      <img inline src="letter-o.svg" />
    </div>
  </div>
  <div class="cell cell--p">
    <div class="letter">
        <img inline src="letter-p.svg" />
    </div>
  </div>
  <div class="cell cell--e">
    <div class="letter">
      <img inline src="letter-e.svg" />
    </div>
  </div>
  <div class="cell cell--n">
    <div class="letter">
      <img inline src="letter-n.svg" />
    </div>
  </div>
  <div class="cell cell--f">
    <div class="letter">
      <img inline src="letter-f.svg" />
    </div>
  </div>
  <div class="cell cell--l">
    <div class="letter">
      <img inline src="letter-l.svg" />
    </div>
  </div>
  <div class="cell cell--a">
    <div class="letter">
      <img inline src="letter-a.svg" />
    </div>
  </div>
  <div class="cell cell--m">
    <div class="letter">
      <img inline src="letter-m.svg" />
    </div>
  </div>
  <div class="cell cell--e">
    <div class="letter">
      <img inline src="letter-e.svg" />
    </div>
  </div>
</div>