<main>
    <p class="intro"><span>the hot queer happening where a comedy open mic meets an LGBTQ+ social.</span></p>
    <p class="hosts"><span>Hosted by Sam Campbell, Simone Leitner, and Peter Valenti</span></p>
    <p><span>20+ queer voices alongside some of New York City’s funniest folx</span></p>
    <p><span>Every other Monday at <a href="#">Mood Ring in Brooklyn.</a></span></p>
    <p><span>free admission</span></p>
    <p class="link"><a href="https://instagram.com/openflamenyc">@openflamenyc</a></p>
</main>