$teal: #4B999B;
$yellow: #E6D137;
$brown: #6B480B;
$red: #B53819;
$taupe: #ADAC9A;
$darkTeal: #144249;
$coolGray: #AAAABF;
$black: #231F1C;
$forestGreen: #06543E;
$peach: #EDB298;
$lightPeach: #F5E4D8;
$deepBlue: #231366;

