@import '~reset-css';
html,
body {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  background: tan;
}

.face {
  position: absolute;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: difference;
}

.face--left {
  left: 0;
  transform: translateX(-100%);
  // background-color: olivedrab;
  background-image: url('../img/left.png');
  background-position: right center;
}
.face--right {
  right: 0;
  transform: translateX(100%);
  // background-color: orange;
  background-image: url('../img/right.png');
  background-position: left center;
}


main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}