
main {
  flex: 1 1 25%;
  background: #F5BF41;

  font-family: 'Sometype Mono', sans-serif;
  text-align: center;
  overflow: auto;
}

section {
  padding: 10px;
}

@media screen and (max-aspect-ratio : 1 / 1) {
  main {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
}
@media screen and (min-aspect-ratio : 1 / 1) {
  main {
    display: flex;
    flex-direction: column;
  }
}

