@import '~reset-css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: #60B28F;
  display: flex;
  flex-direction: row;
}

@media screen and (max-aspect-ratio : 1 / 1) {
  body {
    flex-direction: column;
  }
}

@import 'mixins';
@import 'grid';
@import 'content';
@import 'color-schemes/index';
@import 'type-layouts/index';